body {
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

canvas {
    width: 100%;
    height: 100%;
    display: block;
}

#butterfly {
    width: 100%;
    height: 100vh;
}